@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
@import url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fpbs.twimg.com%2Fprofile_images%2F687694798371696640%2Fqys3yNsk_400x400.jpg&imgrefurl=https%3A%2F%2Ftwitter.com%2Fmiller95129&tbnid=d4i8cfz3JGUSaM&vet=12ahUKEwiW5YKu08XnAhWLmZ4KHdGVCxsQMygEegUIARCBAg..i&docid=LZiE6Xbd374BEM&w=256&h=256&q=miller%20middle%20school&hl=en&authuser=0&safe=strict&ved=2ahUKEwiW5YKu08XnAhWLmZ4KHdGVCxsQMygEegUIARCBAg');
body {
  font-family: 'Sriracha', cursive;
}
h1{
  font-style: italic; 
  font-size: 50px;
}
