@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');
body {
  font-family: 'Sriracha', cursive;
  background-image: url("https://github.com/amnahk10/portfolio/blob/master/pastelbackground.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover; 
}
.bigheading {
  font-size: 100px;
  color: #85A9D5
}
  .hobbies {
    font-size: 75px;
    color: #85A9D5
}


h1{
  font-style: italic; 
  font-size: 50px;
  color: #B885D5;
  border: 5px dashed black; 
}

.navigation {
  overflow: hidden;
  background-color: #000000
}
 
.navigation a { 
  float: left; 
  display: block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navigation a:hover {
  background-color: #BCB6B6;
  color: #F15353
}

.navigation a.active {
  background-color: #FFFFF
}
  
